.contact-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    border-bottom: 1px solid gray;
    align-items: center;
    height: $headerHeight;
    background-color: $header-bgc;

    form {
        width: 25%;
        height: 90%;
        input {
            background-color: $header-bgc;
            border: none;
            height: 100%;
            width: 100%;
            color: $primary-clr;
            &:focus {
                padding-left: 5px;
            }
            font-size: rem(16px);
        }
    }
    a {
        display: flex;
        align-items: center;
        color: $primary-clr;
        border-radius: 10px;
        height: 90%;
        width: fit-content;
    }
}
