.contact-list {
    display: grid;
    padding: 10px 30px;
    // flex-wrap: wrap;
    height: calc(100vh - 130px);
    overflow-y: auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: $contact-desktop-height;
    gap: 10px;
    a {
        height: $contact-desktop-height;
    }
}
