.move-list {
    overflow-y: auto;
    height: 30%;
    padding-bottom: 10px;
    .move-history {
        gap: 10px;
        .title {
            font-size: rem(20px);
        }
        .move {
            .amount {
                gap: 5px;
                .bit {
                    color: $clr-bit;
                }
                .usd {
                    color: $clr-usd;
                }
                margin-bottom: 3px;
            }
            .status {
                .type {
                    color: rgb(51, 51, 251);
                }
            }
        }
    }
}
