// Colors
$clr1: #e01e5a;
$clr2: #293241;
$clr3: #5c3fc5;
$clr4: #696969;
$clr5: #e6e9ec;
$clr6: #e40606;

$primary-clr: #cdcdcd;
$primary-bgc: #091f36;
$header-bgc: #03090f;
$secondary-bgc: #0e2a47;

$contact-desktop-height: 120px;
$contact-mobile-height: 40px;
$contact-desktop-width: 250px;
$contact-mobile-height: 100%;

$clr-bit: #cbf899;
$clr-usd: #006f2e;

$marketPriceClr: #2f2619;

$navHeight: 75px;
$headerHeight: 60px;

// Breakpoints
$mobile-breakpoint: 600px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 900px;
$wide-breakpoint: 1080px;