.contact-details-page {
    > * {
        padding: 0 30px;
    }
    height: calc(100vh - 75px);
    header {
        justify-content: space-between;
        background-color: $header-bgc;
        min-height: $headerHeight;
        align-items: center;
        a {
            // background-color: $primary-bgc;
            border: unset;
            padding: 10px 0;
            color: $primary-clr;
            font-weight: 500;

        }
    }
    .contact {
        background-color: $secondary-bgc;
        width: 100%;
        align-items: center;
        min-height: 70%;
        justify-content: space-evenly;
        .details-container {
            align-items: center;
            justify-content: space-between;
            img {
                height: 120px;
                width: 120px;
            }
            .details {
                gap: 10px;
                margin-bottom: 10px;
                .name {
                    color: darken($clr6, 10%);
                    font-size: rem(30px);
                }
                .phone {
                    font-size: rem(20px);
                }
            }
        }
        .transfer-container {
            height: 40px;
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button,
            input {
                background-color: $primary-bgc;
                border: none;
                -webkit-appearance: none;
                margin: 0;
            }
            .transfer {
                background-color: $clr6;
                border-radius: 3px;
                color: $primary-clr;
                border-color: $clr6;
            }
        }
    }
    .move-history {
        overflow-y: auto;
        gap: 10px;
        .title {
            font-size: rem(20px);
        }
        .move {
            .amount {
                gap: 5px;
                .bit {
                    color: $clr-bit;
                }
                .usd{
                    color: $clr-usd;
                }
                margin-bottom: 3px;
            }
            .status {
                .type {
                    color: rgb(51, 51, 251);
                }
            }
        }
        
    }
}
